<h2>
  Sign Up
</h2>

<%= form_with scope: :user, url: signup_path do |form| %>
  <div>
    <%= form.text_field :username, placeholder: "User Name", required: true %>
    <%= form.text_field :did, placeholder: "DID", required: true %>

    <%= form.submit "Sign Up" %>

    <div>
      <p>
        Already have an account?
        <%= link_to "Login", login_path %>
      </p>
    </div>
  </div>
<% end %>
