<div>
  <div>
    <h2>
      User information
    </h2>

    <div>
      <div>
        User Name
      </div>
      <div>
        <%= current_user.username %>
      </div>
    </div>

    <div>
      <%= link_to new_account_path do %>
        <div>
          <div>
            Account Balance
          </div>
          <div>
            <%= number_to_currency(current_user.account.balance, precision: 0) %>
          </div>
        </div>
      <% end %>
    </div>

    <% if current_user.wallet.present? %>
      <div>
        <%= link_to new_stable_coin_path do %>
          <div>
            <div>
              Wallet Balance
            </div>
            <div>
              <%= number_to_currency(current_user.wallet.balance, precision: 0) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= button_to 'Log out', logout_path, method: :delete %>
    </div>
  </div>
</div>
