<div>
  <div>
    <h2>
      マイページ
    </h2>

    <div>
      <div>
        <%= "ユーザーネーム: #{current_user.username}" %>
      </div>
    </div>

    <div>
      <%= link_to account_transactions_path do %>
        <div>
          <div>
            <%= "現金残高: #{number_to_currency(current_user.account.balance, precision: 0)}" %>
          </div>
        </div>
      <% end %>
    </div>

    <% if current_user.wallet.present? %>
      <div>
        <%= link_to wallet_transactions_path do %>
          <div>
            <div>
              <%= "ステーブルコイン残高: #{number_to_currency(current_user.wallet.balance, precision: 0)}" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <h3>
      ステーブルコイン発行
    </h3>
    <%= form_with scope: :stable_coin, url: stable_coins_path do |form| %>
      <div>
        <%= form.number_field :amount, placeholder: "金額", required: true %>
        <%= form.submit "発行" %>
      </div>
    <% end %>
  </div>
</div>
