<div>
  <div>
    <h2>
      User information
    </h2>

    <div>
      <%= link_to user_path do %>
        <div>
          <div>
            Account Balance
          </div>
          <div>
            <%= number_to_currency(current_user.account.balance) %>
          </div>
        </div>
      <% end %>
    </div>

    <% if current_user.wallet.present? %>
      <div>
        <%= link_to wallet_path do %>
          <div>
            <div>
              Wallet Balance
            </div>
            <div>
              <%= number_to_currency(current_user.wallet.balance) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= button_to 'Log out', logout_path, method: :delete %>
    </div>

    <%= form_with scope: :user, url: user_path do |form| %>
      <div>
        <%= form.text_field :username, readonly: true %>
      </div>
    <% end %>

  </div>
</div>
