<h2>
  Wallet
</h2>

<div>
  <div>
    ウォレット残高
  </div>
  <div>
    <%= number_to_currency(current_user.wallet.balance) %>
  </div>
</div>

<div>
  <table>
    <tr>
      <th>ID</th>
      <th>金額</th>
      <th>種別</th>
      <th>取引日時</th>
    </tr>
    <% @wallet_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.transaction_time %></td>
      </tr>
    <% end %>
  </table>
</div>
