<h2>
  Deposit
</h2>

<div>
  <div>
    Account Balance
  </div>
  <div>
    <%= number_to_currency(current_user.account.balance) %>
  </div>
</div>

<%= form_with scope: :account, url: account_path do |form| %>
  <div>
    <%= form.number_field :amount, placeholder: "amount", required: true %>
    <%= form.submit "Deposit" %>
  </div>
<% end %>

<table>
  <tr>
    <th>ID</th>
    <th>amount</th>
    <th>transaction_type</th>
    <th>取引日時</th>
  </tr>
<% @account_transactions.each do |account_transaction| %>
  <tr>
  <td><%= account_transaction.id %></td>
  <td><%= account_transaction.amount %></td>
  <td><%= account_transaction.transaction_type %></td>
  <td><%= account_transaction.transaction_time %></td>
  </tr>
<% end %>
</table>

